
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" );

.active{
    @apply text-indigo-600 underline underline-offset-4
}

.pagination{

  @apply flex justify-center items-center list-none m-0 p-0

}

.liPagination{
  @apply mx-[5px] my-0
}










.h1{
    @apply text-5xl lg:text-7xl leading-snug font-bold mb-5
}

.input{
  @apply py-2  outline-none  px-4 ml-2 rounded-full my-1 mr-1 w-full  bg-opacity-0
}

.divinput{
  @apply rounded-full border  border-indigo-100 overflow-hidden w-full flex items-center pr-3 py-1
}
.googleContainer{
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  
}


  

  

  
 
  
  /* Styles for the notes section */

  

  
 
  

  

  
  .loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #944ef1; /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  